.layout {
  display: flex;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

.columna-izquierda {
  width: 30%; 
  flex-direction: column;
  justify-content: space-between; 
  background-color: #f5f5f5;
  border-right: 1px solid #ddd;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
}

.seccion-superior {
  flex: 0 0 35%; /* 35% de la altura */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  overflow: hidden;
}

.seccion-inferior {
  flex: 1;
  min-height: 45%;
  overflow: hidden;
}

.columna-derecha {
  flex: 1;
  background-color: #fff;
  padding: 1rem;
  overflow: hidden;
}

